<div class="row">
  <div class="col-md-6">
    <h3>Monday</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>Installation help</td> </tr>
      <tr> <td>09:00</td>  <td>Automating Tasks with the Unix Shell - Introduction/Files</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Automating Tasks with the Unix Shell - Pipes & Filters</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Automating Tasks with the Unix Shell - Loops & Scripts</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>Automating Tasks with the Unix Shell - Finding Things</td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:45</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Installation help</td> </tr>
      <tr> <td>09:00</td>  <td>Version Control with Git - Setup & Create Repositories</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Version Control with Git - Collaborating & Conflicts</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Programming with Python - Working the Data</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>Programming with Python - Loops & Lists </td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
      <tr> <td>15:45</td>  <td></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Wednesday</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Installation help</td> </tr>
      <tr> <td>09:00</td>  <td>Programming with Python - Choices & Functions</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Programming with Python - Errors, Exceptions, & Defensive Programming</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Programming with Python - Debugging & Command Line Programs</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>Advanced Programming with Python - Parallel Processing </td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:50</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Thursday - Proteus Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Installation help</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Friday - Proteus Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Installation help</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
