<p id="who">
  <strong>Who:</strong>
  The course is aimed at summer students, researchers, and staff at the U.S. Army Corps of Engineers (USACE) 
  Engineer Research and Development Center (ERDC). All ERDC staff are welcome to participate. If you are external
  to the USACE ERDC and would like to participate, please contact the organizer as this may be possible in some 
  circumstances.
  
  <strong>
    You don't need to have any previous knowledge of the tools that will be presented at the workshop. However, 
    please come with your laptop computer, either ACE-IT or RDE, setup and configured with the necessary software. 
    This is helpful to ensure the progress of the class. If you have issues installing the necessary software, please
    come early to the Monday morning class.
  </strong>
</p>
